<div layout="column" class="schedule">


    <!--    Name and Email-->
    <div layout="row" layout-wrap flex flex="66" class="inset" ng-cloak>

        <div ng-class="{'step-leave': !vm.expanded1, 'step-enter': vm.expanded1}">
            <md-button aria-label="schedule-button" ng-class="{'md-primary md-hue-2': !vm.visible[5],'md-secondary md-hue-2': vm.visible[5]}" class="md-fab" ng-click="vm.toggleExpanded(1)">#1</md-button>
        </div>

        <form name="veganForm" class="input-contain" ng-show="vm.visible[1]">
            <md-input-container class="md-block">
                <label> Vegan Name</label>
                <input required name="clientName" ng-model="vegan.clientName">
                <div ng-messages="veganForm.clientName.$error" ng-blur="vm.toggleExpanded(4)" ng-show="vm.visible[4]">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label> Vegan Email</label>
                <input required type="email" name="clientEmail" ng-model="vegan.clientEmail" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                <div ng-messages="veganForm.clientEmail.$error" role="alert" ng-blur="vm.toggleExpanded(5)" ng-show="vm.visible[5]">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Your email must be between 10 and 100 characters long and look like an e-mail address.
                    </div>
                </div>
            </md-input-container>
        </form>

    </div>


    <!--    Day Selection-->
    <div layout="row" layout-wrap flex class="inset" ng-cloak>
        <div ng-class="{'step-leave': !vm.visible[2], 'step-enter': vm.visible[2]}">
            <md-button aria-label="schedule-button" class="md-fab md-primary md-hue-2" ng-click="vm.toggleExpanded(2)">#2</md-button>
        </div>
        <div class="switch input-contain" ng-show="vm.visible[2]" layout="column">
            <md-switch ng-repeat="day in vm.days" ng-model="day.val" aria-label="Switch 2" class="md-block md-primary md-hue-1">
                {{day.name}}
            </md-switch>
        </div>
    </div>
    <div layout="row" layout-wrap flex class="inset" ng-cloak>
        <div ng-class="{'step-leave': !vm.visible[3], 'step-enter': vm.visible[3]}">
            <md-button aria-label="schedule-button" class="md-fab md-primary md-hue-2" ng-click="vm.toggleExpanded(3)">#3</md-button>
        </div>
        <div class="switch input-contain" ng-show="vm.visible[3]" layout="column">
            <md-switch ng-repeat="day in vm.days" ng-model="day.val" aria-label="Switch 2" class="md-block md-primary md-hue-1">
                {{day.name}}
            </md-switch>
        </div>
    </div>
</div>